html, body { scroll-behavior: smooth; }
.nav-link:focus, .btn:focus { outline: 2px solid #0d6efd; outline-offset: 2px; }
section { scroll-margin-top: 80px; }

.hero-banner {  
  background-image: url("images/blurred-office-bg.jpg");  
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.logo-img {
  width: auto;
  height: 400px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1) grayscale(100); /* darker icons*/
}



