html, body { scroll-behavior: smooth; }
.nav-link:focus, .btn:focus { outline: 2px solid #0d6efd; outline-offset: 2px; }
section { scroll-margin-top: 80px; }

.hero-banner {
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.btn-custom {
  background-color: #fff;
  color: #000;
  border: 4px solid #0dcaf0;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

.btn-custom:hover {
  background-color: #0dcaf0;     
  color: #fff;
}


.logo-img {
  width: auto;
  height: 400px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1) grayscale(100); /* darker icons*/
}



